{% extends 'base.html' %}
{% block content %}

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Project</title>
    <link rel="stylesheet" 
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="bootstrap-styles.css">
  <script src="https://code.jquery.com/jquery.js"></script>
</head>

<script src="https://code.jquery.com/jquery.js"></script>

<div class="container"> <h1>Project Title</h1>
  <p class="lead">project description for everyone to read yay!</p>
</div>

<body>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-lg-6">
      <h3 class="heading">Trending Tweets</h3>

      {% for key, value in twitter_with_articles.iteritems() %}
        <h4 id="{{key.replace(" ", "")}}" class="news_trend_title"><pre>{{ key }}</pre></h4>
        {% for item in value %}
        <div class="all_tweet_articles" data-news-trend="{{key.replace(" ", "")}}">
            <li><a class="article_link" target="_blank" href = "{{ item['url'] }}" >{{ item['title'] }}</a></li>
        </div>
        {% endfor %}
      {% endfor %}
    </div>


    <div class="col-xs-12 col-md-6 col-lg-6">
      <h3 class="heading">Trending News</h3>

      {% for key, value in news_with_articles.iteritems() %}
        <h4 id="{{key.replace(" ", "")}}" class="news_trend_title"><pre>{{ key }}</pre></h4>
        {% for item in value %}
        <div class="all_news_articles" data-news-trend="{{key.replace(" ", "")}}">
            <li><a class="article_link" target="_blank" href = "{{ item['url'] }}" >{{ item['title'] }}</a></li>
        </div>
        {% endfor %}
      {% endfor %}
    </div>
  </div>
</div>

  <script>

    $(".all_tweet_articles").hide();
    $(".all_news_articles").hide();

  //   // if (document.getElementByClass(".all_tweet_articles").innerHTML) {
  //   //     function showTweetArticles(evt) {
  //   //       $(".all_tweet_articles").toggle();
  //   //     }
  //   //   } else {
  //   //     $(".all_tweet_articles").innerHTML("STUPID STUFF!");
  //   // }
    
    function toggleTweetArticles(evt) {
      var topicTitle = $(this).attr("id");
      console.log(topicTitle);
      $("div[data-tweet-trend='" + topicTitle + "']").toggle();
    }
    function toggleNewsArticles(evt) {
      var topicTitle = $(this).attr("id");
      console.log(topicTitle);
      $("div[data-news-trend='" + topicTitle + "']").toggle();
    }

    $(".twitter_trend_title").click(toggleTweetArticles);
    $(".news_trend_title").click(toggleNewsArticles);

  </script>
</body>

</html>

{% endblock %}