{% extends 'base.html' %}
{% block content %}


<h1>Twitter</h1>

{% for key,value in tweet_search_articles.iteritems() %}
   <h2>{{ key }}</h2>
    {% for item in value %}
    <div>
      <div><a target="_blank" href="{{ item[1] }}">{{ item[0] }}</a></div>
    </div>
    {% endfor %}
{% endfor %}

<h1>News</h1>

{% for key,value in news_search_articles.iteritems() %}
   <h2>{{ key }}</h2>
    {% for item in value %}
    <div>
      <div><a target="_blank" href="{{ item[1] }}">{{ item[0] }}</a></div>
    </div>
    {% endfor %}
{% endfor %}



{% endblock %}